@font-face {
    font-family: HeaderFont;
    src: url("/style/font/ProtestRiot-Regular.ttf");
  }

body{
    background-image: url("/img/sky\ _lantern.jpg");
}

.intro{
    background-color: orange; width: 100%; height: fit-content; text-align: center; margin:0; padding:0;
}
.under_intro{
    width:100%; display: flex; justify-content: end; align-items: center;
}
.subject{
    margin:0; padding:0; font-size: 18px; color:white;
}

img{
    width: 200px;
    height: 200px;
}
.header{
    display: flex;
    justify-content: space-around;
    width: 350px;
}
.header__text{
    color: orange;
    font-family: HeaderFont;
}
.header__icon{
    width: 100px;
    height: 100px;   
}

.main{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product{
    display: flex;
    top: 40%;
    position: absolute;
    justify-content: space-between; 
    
}
.product__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: 0 50px 0 50px;
   
       
}
.product__icon:hover{
    animation: rotation 2s infinite;
}
.product__text{
    color: white;
    font-family: HeaderFont;
}
.product__button_buy{
    background-color: orange;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
    width: 80px;
    height: 30px;
    margin: 10px 0 10px 0;

}
.product__button_buy:hover{
    background-color: black;
    color: orange;
    box-shadow: 0 0 55px rgba(251, 178, 90, 0.552);
    border-radius: 50%;
    width: 80px;
    height: 30px;
}
a:hover{
    color: orange;
}
.message__wrap{
    display: flex;
    justify-content: end; 
    align-items: center;
    width: 100%;

}
.message__box{
    background-color: white;
    width: 499px;
    margin: 10px;
    height: 60px;
    display: flex;


}
.message__text{
    margin: 10px;
}
.message__right_box{
    background-color: orange;
    width: 20px;
}

.wish__wrap{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
}
.wish__content_wrap{
    display: flex;
    flex-direction: row;
    background-color: rgb(221, 170, 67);
    box-shadow: 0 0 55px rgba(251, 179, 90, 0.631);
    width: 500px;
    padding: 10px;
}
.wish__text_wrap{
    margin: 0 0 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.wish__text{
    font-size: 30px;
    font-family: HeaderFont;
}
.wish__button{
    width: 100%;
    background-color: white;
    animation: pulse 3s infinite;
}
.wish__button:hover{
    cursor: pointer;
}
.wish__image{
    animation: rotation 2s infinite;
}
@keyframes pulse{
    0%{
        background-color: white;
    }
    50%{
        background-color: orange;
    }
    100%{
        background-color: white;
    }
}

@keyframes rotation{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
    100%{
        rotate: -180deg;
    }
}